<h1>Principal</h1>

<%= link_to 'Listado de Productos', products_index_path %>
<%= link_to 'Lista de Usuarios', controller: 'lista_usuarios', action: 'index' %>
<%= link_to 'Ventas', sales_index_path %>
